@import "tailwindcss";
@plugin "daisyui"{
  themes: silk --default, dim --prefersdark;
}
@plugin 'tailwind-bootstrap-grid' {
  container_max_widths:
    'sm', '540px', 'md', '720px', 'lg', '960px', 'xl', '1140px', '2xl', '1536px';
}